.searchbar{ 
padding: 1%;
text-align:center;
}

.searchWindow{
border: 0px;
border-radius: 5px;
background: #FFF;
width: 50%;
padding: 5px;
font-family: Futura;
color: #000;
}

.searchWindow:focus {
outline: none;
}


.box{
    width: 100%;
}

#filter {
    margin: 0 auto;
    display: inline-block;
}
