.searchbar{ 
padding-bottom: 10px;
text-align: center;
}

.searchWindow{
border: 0px;
border-radius: 5px;
background: #FFF;
width: 400px;
padding: 5px;
font-family: Futura;
color: #000;
text-align: center;
}

.searchWindow:focus {
outline: none;
}
