.App{
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
overflow: auto;
}

.Navbar{
display: block;
position: fixed;
}

.Content{
position: absolute;
margin-top: 30px;
display: block;
overflow: scroll;
width: 100%;
text-align: center;
justify-content: center;
}