.bookWindow{
margin: 5% 25%;
padding: 30px;
width: 50%;
text-align: center;
color: #000;
border: 0px;
border-radius: 5px;
background-color: #F2F2F2;
display: none;
}

.windowHeader{
margin-bottom: 20px;
width: 100%;
text-align: left;
display: none;
}

.left, .right{
width: 50%;
min-width: 200px;
vertical-align: middle;
display: none;
}

h1, h2, h3{
font-family: Futura;
}

.bookWindow button{
padding: 10px;
border-radius: 5px;
border: 0px;
margin: 20px;
font-family: Futura;
background: #446083;
}

.bookWindow button:focus{
outline: none;
}

.bookWindow button:hover{
opacity: 0.9;
}

.bookWindow input, .bookWindow select {
border: 0px;
border-radius: 5px;
background: #FFF;
width: 50%;
padding: 5px;
margin: 10px 50px ;
font-family: Futura;
font-size: 14px;
color: #000;
text-align: center;
}

.bookWindow input:focus {
outline: none;
}