.bookWindow{
position: relative;
max-width: 800px;
text-align: center;
color: #000;
border: 0px;
border-radius: 5px;
background-color: #FFF;
}

.left, .right{
width: 300px;
display: inline-block;
vertical-align: middle;
text-align: center;
padding: 20px;
}

h2, h3, h4{
font-family: Futura;
}

.bookWindow button{
padding: 10px;
border-radius: 5px;
border: 0px;
margin: 20px;
font-family: Futura;
background: #446083;
}

.bookWindow button:focus{
outline: none;
}

.bookWindow button:hover{
opacity: 0.9;
}

.bookWindow input, .bookWindow select {
margin-top: 10px;
border: 0px;
border-radius: 5px;
width: 220px;
padding: 10px;
font-family: Futura;
font-size: 14px;
color: #000;
background: #FFF;
text-align: center;
}

.bookWindow input:focus {
outline: none;
}

.addToShelf{
background: #f2f2f2;
}