.bookresults{
/*overflow-x: scroll;*/
overflow-y: hidden;
white-space: nowrap;
height: auto;
max-height: 300px;
display: inline-block;
width: 98%;
margin-left: 1%;
margin-right: 1%;
}


.bookfound{
display: inline-block;
margin-right: 1%;
width:auto;
}

/* relevant styles */
.bookimg {
display: block;
height: 204px;
width: 128px;
}

.booktitle {
font-family: Futura;
font-size: 14px;
display: block;
position: relative;
height: 204px;
width: 128px;
padding: 15px;
margin-top: -204px;
background: rgba(29, 106, 154, 0.72);
color: #fff;
opacity: 0;
visibility: hidden;
text-align: center;

/* transition effect. not necessary */
transition: opacity .5s, visibility .5s;
}

.bookfound:hover .booktitle {
visibility: visible;
opacity: 1;
}

