.bookresults{
background: #FFF;
overflow-x: scroll;
overflow-y: hidden;
position: relative;
white-space: nowrap;
height: auto;
max-height: 300px;
display: block;
width: 98%;
margin-left: 1%;
margin-right: 1%;
padding-top: 10px;
padding-bottom: 10px;
border-bottom: 15px solid #446083;
}


.bookfound{
display: inline-block;
margin-right: 1%;
}

/* relevant styles */
.bookimg {
height: 204px;
width: 128px;
}

.booktitle {
font-family: Futura;
font-size: 14px;
display: block;
position: absolute;
height: 204px;
width: 128px;
padding: 15px;
margin-top: -204px;
background-color: #446083;
color: #fff;
opacity: 0;
visibility: hidden;
text-align: center;
transition: opacity .5s, visibility .5s;
white-space: normal;
}

.bookfound:hover .booktitle {
visibility: visible;
opacity: 1;
}
